{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>

    <div>{{ article.content }}</div>

    <h2>comment</h2>

    {% if (article.comments) %}
        {% for comment in article.comments %}
            <p>{{ comment.author.username }}</p>
            <div>{{ comment.content }}</div>
        {% endfor %}
    {% endif %}

    {% if app.user %}
        {{ form_start(addComment) }}
            {{ form_rest(addComment) }}
            <input type="submit" value="Soumettre">
        {{ form_end(addComment) }}
    {% endif %}

{% endblock %}
