{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <img src="{{ asset(article.cover) }}" alt="{{ "cover photo"|trans }}">

    <div id="container">
        <h1 class="title">{{ article.title }}</h1>
        <small>({{ article.author.username }})</small>

        <div id="content">{{ article.content }}</div>

        <h2 class="title">{{ "Comments"|trans }}</h2>

        <div id="commentContainer">
            {% if (article.comments) %}
                {% for comment in article.comments %}
                    <a href="{{ path('profile', {username: comment.author.username}) }}" class="author">{{ comment.author.username }}</a>
                    <div class="relative">
                        <div class="TopLeftCorner"></div>
                        <div class="comment">{{ comment.content }}</div>
                        <div class="BottomRightCorner"></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if app.user %}
            {{ form_start(addComment) }}
            {{ form_rest(addComment) }}
            <input type="submit" value="Soumettre">
            {{ form_end(addComment) }}
        {% endif %}
    </div>

{% endblock %}
